@import url(https://fonts.googleapis.com/css?family=Akronim);


*{
  margin: 0;
  padding: 0;
}
body{background-color: aliceblue;

  display: flex;
  font-family: sans-serif;
  flex-direction: column;
  align-items: center;
  justify-content: center;
background-size: 100% 100%;  
}

h1{
  text-align: center;
  color: #1853EA;
  font-size: 5px;
}
P{ margin-left: 15%;
  font-family: cursive;
  font-size: 20px;
}

P2{font-size: large;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: red;
  
}
.link,.format{
    width: 100%;
    height: 60px;
    border: 2px solid orangered;
    margin-top: 15px;
    text-align: center;
}
.btn{
  width: 100%;
  height: 60px;
  border: none;
  margin-top: 15px;
  text-align: center;
  background-color: orangered;
  color: white;
  cursor: pointer;
  font-size: 25px;
}
.fire {
	margin: 50px auto;
	width: 80%;
	max-width: 1000px;
	height: 200px;

	background-position: center center;
	background-size: 1000px 200px;
	border-radius: 10px;
	font-family: 'Akronim';
	overflow: hidden;
    text-align: center;
	vertical-align: middle;

}
.fire:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.Blazing {
	display: inline-block;
	margin: 15%;

    color: rgb(255, 115, 0);
    font-size: 50px;
	line-height: 50px;
	min-width: 50px;
	outline: none;
	vertical-align: middle;
    
	text-shadow:
        0 3px 20px red,
        0 0 20px red,
		0 0 10px orange,
		4px -5px 6px yellow,
		-4px -10px 10px yellow,
		0 -10px 30px yellow;
	animation: 2s Blazing infinite alternate linear;
}

@keyframes Blazing {
	0%   { text-shadow: 0 3px 20px red, 0 0 20px red,
		0 0 10px orange,
		0 0 0 yellow,
		0 0 5px yellow,
		-2px -5px 5px yellow,
		4px -10px 10px yellow; }
	25%   { text-shadow: 0 3px 20px red, 0 0 30px red,
		0 0 20px orange,
		0 0 5px yellow,
		-2px -5px 5px yellow,
		3px -10px 10px yellow,
		-4px -15px 20px yellow; }
	50%   { text-shadow: 0 3px 20px red, 0 0 20px red,
		0 -5px 10px orange,
		-2px -5px 5px yellow,
		3px -10px 10px yellow,
		-4px -15px 20px yellow,
		2px -20px 30px rgba(255,255,0,0.5); }
	75%   { text-shadow: 0 3px 20px red, 0 0 20px red,
		0 -5px 10px orange,
		3px -5px 5px yellow,
		-4px -10px 10px yellow,
		2px -20px 30px rgba(255,255,0,0.5),
		0px -25px 40px rgba(255,255,0,0)}
	100%   { text-shadow: 0 3px 20px red, 0 0 20px red,
		0 0 10px orange,
		0 0 0 yellow,
		0 0 5px yellow,
		-2px -5px 5px yellow,
		4px -10px 10px yellow; }
}